<header th:fragment="navigation">
  <div class="container">
    <nav>
      <a href="/" class="logo">
        <img class="logo" src="/images/favicon.ico" alt="Logo">
        <span>CozyCottages</span>
      </a>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="#">Browse</a></li>
        <li><a href="#">Destinations</a></li>
        <li><a href="#">Deals</a></li>
        <li><a href="#" class="btn-login">Sign In</a></li>
      </ul>
    </nav>
  </div>
</header>
