<div th:fragment="amenities" class="amenities">
  <div class="section-title">
    <h2>Amenities</h2>
  </div>
  <div class="amenities-grid">
    <div class="amenity">
      <i class="fas fa-wifi"></i>
      <span>High-speed WiFi</span>
    </div>
    <div class="amenity">
      <i class="fas fa-tv"></i>
      <span>Smart TV with Netflix</span>
    </div>
    <div class="amenity">
      <i class="fas fa-utensils"></i>
      <span>Fully equipped kitchen</span>
    </div>
    <div class="amenity">
      <i class="fas fa-fire"></i>
      <span>Wood-burning fireplace</span>
    </div>
    <div class="amenity">
      <i class="fas fa-fan"></i>
      <span>Air conditioning</span>
    </div>
    <div class="amenity">
      <i class="fas fa-warehouse"></i>
      <span>Private dock</span>
    </div>
    <div class="amenity">
      <i class="fas fa-ship"></i>
      <span>Canoe & kayaks</span>
    </div>
    <div class="amenity">
      <i class="fas fa-fire-alt"></i>
      <span>Fire pit</span>
    </div>
    <div class="amenity">
      <i class="fas fa-grill"></i>
      <span>Gas barbecue</span>
    </div>
    <div class="amenity">
      <i class="fas fa-parking"></i>
      <span>Parking for 3 cars</span>
    </div>
    <div class="amenity">
      <i class="fas fa-washer"></i>
      <span>Washer & dryer</span>
    </div>
    <div class="amenity">
      <i class="fas fa-swimming-pool"></i>
      <span>Swimming access</span>
    </div>
  </div>
</div>